@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 43% 95%; /* #F3F0F8 */
    --foreground: 264 10% 18%; /* #2d2c30 */
    --card: 264 43% 98%;
    --card-foreground: 264 10% 18%;
    --popover: 264 43% 98%;
    --popover-foreground: 264 10% 18%;
    --primary: 261 41% 84%; /* #D1C4E9 */
    --primary-foreground: 260 32% 30%; /* #423567 */
    --secondary: 261 41% 90%;
    --secondary-foreground: 260 32% 30%;
    --muted: 261 41% 90%;
    --muted-foreground: 260 20% 45%;
    --accent: 338 81% 76%; /* #F48FB1 */
    --accent-foreground: 338 55% 27%; /* #6d203b */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 30% 88%;
    --input: 261 30% 92%;
    --ring: 261 41% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260 32% 10%;
    --foreground: 261 41% 90%;
    --card: 260 32% 12%;
    --card-foreground: 261 41% 90%;
    --popover: 260 32% 10%;
    --popover-foreground: 261 41% 90%;
    --primary: 261 41% 84%;
    --primary-foreground: 260 32% 20%;
    --secondary: 260 32% 20%;
    --secondary-foreground: 261 41% 90%;
    --muted: 260 32% 20%;
    --muted-foreground: 261 20% 65%;
    --accent: 338 81% 76%;
    --accent-foreground: 338 90% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 32% 20%;
    --input: 260 32% 20%;
    --ring: 261 41% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
